<?xml version="1.0"?>

<model>
  <name>turtlebot3_rotating_sensor</name>
  <version>1.0</version>

  <author>
    <name>Optional: Nicholas Calkins</name>
    <email>Optional: ncalkins8746@sdsu.edu</email>
  </author>

  <description>
    A model of a Turtlebot 3 Burger with a rotating sensor frame attached above the chassis.
  </description>

</model>
